		{% extends 'base.html' %}
		{% block main %}
		<div class="content-body">
			<div class="container">
				<div class="row">
					<main class="col-md-10">
						<article class="post">
							<div class="entry-content clearfix">
								<p>我是艾玛，现处金陵，编程小白，</p>
								<p>喜欢看书、电影、乒乓球，欢迎找我来玩耍。</p>
								<p>
									                                       
								</p>
								<p>email: guyuegwqian@163.com</p>
								<p>github: https://github.com/EmmaYXY</p>
								<div class="height-50px"></div>
							</div>
						</article>
					</main>
				</div>
			</div>
		</div>
		{% endblock main %}